@import "styles/mixins";

.wrapper {
  width: 110%;
  left: -5%;
}

.words {
  height: 1px;
  font-size: calc(56px + 24 * (100vw - 320px) / 1080);
  margin-top: -1em;
  pointer-events: none;
  @include user-select;
  z-index: 20;
}

.line {
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--body);

  & > * {
    line-height: 1;
    top: 0.1em;
    will-change: transform;
  }
}

.left {
  background-color: var(--secondary);
  transform: rotate(6deg);
}

.right {
  background-color: var(--primary);
  transform: translateY(-100%) rotate(-8deg);
}
