- Pour les icônes, utilise toujours le composant `Icon` provenant de `@/components/icon`. Il doit être utilisé sous cette forme :  
  `<Icon icon="iconName" />`

- Pour gérer les variables d'environnement, utilise le package `@t3-oss/env-nextjs`. L'import des variables d'environnement doit se faire comme suit :  
  `import { env } from "@/env"`

- Lors de l'ajout d'une image, fais toujours l'import suivant :  
  `import Image from "next/image"`

- Pour les liens, utilise exclusivement le sous-composant de `@/components/link`, et non `next/link`.
