@import "styles/mixins";

.rule {
  --padding: calc(20px + 4 * (100vw - 320px) / 1080);
  --item-padding: calc(var(--padding) / 1.25);
  --border-radius: var(--angle-radius);
  font-size: calc(13px + 2 * (100vw - 320px) / 1080);
  display: flex;
  flex-direction: column;
  transition: color var(--transition-link),
    background-color var(--transition-link);
  @include backdrop(8px);

  &.question {
    --padding: calc(24px + 8 * (100vw - 320px) / 1080);
  }

  & + & {
    margin-top: var(--size-2);
  }

  &:hover {
    background-color: var(--bg-opacity-4);
  }

  &[open] {
    background-color: var(--bg-opacity-4);

    summary {
      color: var(--text-primary);
      border-bottom: 0;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .arrow {
      transform: rotate(0deg);
    }
  }

  &:not([open]) {
    summary {
      h2 {
        @include ellipsis;
      }
    }
  }

  .keyBind {
    color: var(--secondary);
    background-color: var(--bg-opacity-3);
    padding: 0.1em 0.3em;
    border-radius: var(--angle-radius);
    font-family: var(--font-secondary);
    text-transform: uppercase;
    border-radius: var(--angle-radius);
    border: 1px solid rgba(var(--secondary-rgb), 0.5);
    font-size: 0.5em;
    vertical-align: middle;
    margin-left: 0.5em;
  }

  summary {
    transition: color var(--transition-link),
      background-color var(--transition-link);
    display: flex;
    gap: 0.5rem;
    @include user-select(none);
    cursor: pointer;
    font-size: 1.5em;
    color: var(--text-secondary);
    z-index: 10;
    padding: var(--padding);
    border: 1px solid var(--bg-opacity-2);
    border-radius: var(--border-radius);
    width: 100%;

    &:hover {
      color: var(--text-primary);
    }

    h2 {
      font-weight: 500;
      margin-left: 0.25em;
      width: 90%;
      display: block;
    }
  }

  .arrow {
    transition: transform 0.2s ease-in-out;
    transform: rotate(180deg);
    margin-left: auto;
  }

  .list {
    padding: var(--padding);
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
    border: 1px solid var(--bg-opacity-2);
    border-top: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    @include max(600px) {
      padding: calc(var(--padding) / 2);
      padding-top: 0;
    }
  }

  .content {
    padding: var(--padding);
    padding-top: 0;
    display: flex;
    align-items: flex-start;
    gap: var(--padding);
    border: 1px solid var(--bg-opacity-2);
    border-top: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    flex-wrap: wrap;

    @include max(600px) {
      padding: var(--padding);
      padding-top: 0;
    }

    .reponse {
      flex: 1;
      min-width: calc(250px + 200 * (100vw - 320px) / 1080);
    }

    .faqImg {
      border: 1px solid var(--primary);
      border-radius: var(--angle-radius);
      margin: auto;
      align-self: center;
    }
  }

  .subtitle {
    display: flex;
    gap: 0.75em;
    font-size: 1.25em;
    font-weight: 500;
    color: var(--text-primary);
    background-color: var(--bg-opacity-3);
    padding: 1em;
    color: var(--secondary);
    border-radius: var(--border-radius);
  }
}

.item {
  padding: var(--item-padding);
  background-color: var(--item-bg, var(--bg-opacity-4));
  display: flex;
  gap: calc(var(--item-padding) * 0.85);
  border-radius: var(--border-radius);

  &.subitem {
    width: 100%;
    flex: 1;
  }

  &[data-state="interdit"] {
    --item-bg: var(--bg-danger-1);
    --item-color-heading: var(--danger-primary);
    --item-color-text: var(--danger-secondary);
  }

  &[data-state="autorise"] {
    --item-bg: var(--bg-success-1);
    --item-color-heading: var(--success-primary);
    --item-color-text: var(--success-secondary);
  }

  .state {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    margin-left: 1em;
    animation: blink 1.5s infinite;
    display: inline-block;
    font-size: 0.95em;

    @keyframes blink {
      0% {
        opacity: 0.5;
        transform: scale(0.85);
      }
    }
  }

  .emoji {
    transform: scale(1.35);
  }

  h3 {
    font-weight: 500;
    color: var(--item-color-heading, var(--primary));
    font-size: 1.1em;
    margin-bottom: calc(var(--item-padding) * 0.5);
  }

  h4 {
    font-weight: 500;
    color: var(--item-color-heading, var(--text-primary));
    font-size: 1.05em;
    margin-bottom: calc(var(--item-padding) * 0.5);
  }

  .content {
    font-size: 0.95em;
    line-height: 1.6;
    font-weight: 300;
    color: var(--item-color-text, var(--text-secondary));
    width: 100%;

    & > * + * {
      margin-top: calc(var(--item-padding) * 0.5);
    }

    strong {
      font-weight: 700;
    }

    em {
      font-style: italic;
    }

    ul {
      padding-left: 1em;

      li {
        margin-bottom: calc(var(--item-padding) * 0.25);

        &::before {
          content: "-";
          margin-right: 0.5em;
        }
      }
    }
  }

  &[data-inline] {
    .content,
    .content > * {
      display: inline;
    }

    h3 {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 0.5em;
    }
  }
}
