@import "styles/mixins";

$responsive: 1084px;

.gallery {
  --padding: calc(100px + 50 * (100vw - 320px) / 1080);
  --spacing: 0;
  padding-top: var(--padding);
  z-index: 100;

  @include min($responsive) {
    --spacing: calc(24px + 48 * (100vw - 320px) / 1080);
    padding-bottom: calc(var(--padding) * 2);
  }

  @include max($responsive) {
    padding-top: calc(72px + 40 * (100vw - 320px) / 1080);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0 var(--spacing);
    background-color: var(--bg-opacity-1);
    box-shadow: var(--shadow-1);
  }

  .japan {
    font-size: calc(10px + 8 * (100vw - 320px) / 1080);
    top: 58%;
    left: 85%;
    letter-spacing: 0.5em;
    color: var(--primary);

    @include max(850px) {
      display: none;
    }
  }
}

.palmier {
  width: 50%;
  bottom: 0%;
  left: 78%;
  z-index: 100;
}

.wrapper {
  width: var(--wrapper-header);
}

.heading {
  --size: calc(80px + 96 * (100vw - 320px) / 1080);
  text-transform: uppercase;
  width: var(--wrapper-width);
  max-width: 100%;
  margin: 0 auto;

  @include max($responsive) {
    text-align: center;
  }
}

.sub {
  color: var(--primary);

  @include min($responsive) {
    position: absolute;
    left: calc(var(--size) * 1.25);
    top: calc(var(--size) * -0.2);
  }

  @include max($responsive) {
    margin-bottom: 0.75em;
  }
}

.title {
  font-size: var(--size);
  font-family: var(--font-primary);
  font-weight: 800;
  line-height: 0.8;
  display: inline-block;

  span {
    display: block;
  }

  .l1 {
    font-size: 0.78em;
    color: var(--secondary);

    @include min($responsive) {
      left: 0.5em;
    }
  }

  .l2 {
    z-index: 150;
  }
}

.girl {
  --head: calc(32px + 40 * (100vw - 320px) / 1080);
  position: absolute;
  z-index: 100;
  width: calc(100vw - var(--spacing) * 2);
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--padding) * -1 - var(--head));
  bottom: calc(var(--padding) * -2);
  overflow: hidden;
  @include user-select;
  pointer-events: none;

  @include max($responsive) {
    width: 100vw;
    z-index: -1;
  }

  img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    right: 65%;
    z-index: 5;

    @include max($responsive) {
      width: 50%;
      right: 50%;
      height: auto;
      @include mask(linear-gradient(to top, transparent 0%, #000 100%));
    }
  }

  .primary {
    position: absolute;
    top: 5%;
    left: 15%;
    fill: var(--primary);
    width: 55%;
    opacity: 0.5;
    z-index: 0;
  }

  .secondary {
    position: absolute;
    top: 20%;
    left: -10%;
    fill: var(--secondary);
    width: 60%;
    opacity: 0.5;
  }
}

.right {
  --gap: calc(16px + 4 * (100vw - 320px) / 1080);
  display: flex;
  position: absolute;
  right: 0;
  top: calc(var(--padding) * -1);
  bottom: calc(var(--padding) * -2);
  width: 45%;
  gap: var(--gap);
  @include mask(
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2) 0%,
      #000 15% 85%,
      rgba(0, 0, 0, 0.2) 100%
    )
  );

  .marquee {
    flex: 1;

    & > * {
      flex: 1;
      width: 100% !important;
    }
  }

  @include max(1400px) {
    right: 3%;
  }

  @include max($responsive) {
    width: calc(400px + 200 * (100vw - 320px) / 1080);
    max-width: 100%;
    right: 0;
    height: 400px;
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    @include mask(linear-gradient(to bottom, transparent 0%, #000 100%));
  }

  .img {
    margin-bottom: var(--gap);

    width: 100%;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 10;
      border: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  img {
    width: 100%;
  }
}
