@import "styles/mixins";

.overlay {
  position: fixed;
  inset: 0;
  z-index: 9000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: scroll;
  padding: var(--margin-main);
  background-color: rgba(var(--body-rgb), 0.85);
  @include backdrop(4px);
  @include no-scrollbar;

  &Close {
    position: fixed;
    inset: 0;
    z-index: 0;
  }
}

.modal {
  --modal-padding: calc(24px + 4 * (100vw - 320px) / 1080);
  background-color: var(--bg-opacity-3);
  box-shadow: var(--shadow-1), var(--shadow-2);
  border-radius: var(--angle-radius);
  margin: auto;
  padding: var(--modal-padding);
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: calc(var(--modal-padding) / 1.5);
  width: calc(450px + 150 * (100vw - 320px) / 1080);
  max-height: 100%;

  &.full {
    min-height: 100%;
    border-radius: var(--angle-radius);
  }

  &:not(.full) {
    animation: revealModal 0.3s var(--cubic);
    animation-fill-mode: both;
  }

  & > * {
    z-index: 5;
  }

  @keyframes revealModal {
    from {
      top: 25px;
      @include auto-alpha(0);
    }
    to {
      top: 0;
      @include auto-alpha(1);
    }
  }
}

.close {
  transition: background-color var(--transition-link);
  position: absolute;
  width: var(--size-6);
  height: var(--size-6);
  right: 0;
  top: 0;
  border-radius: var(--radius-2);
  cursor: pointer;
  z-index: 15;
  border-radius: var(--angle-radius);

  &:hover {
    background-color: var(--bg-opacity-1);
    color: var(--primary);

    svg {
      color: var(--primary);
    }
  }
}

.title {
  font-weight: 700;
  font-size: calc(40px + 16 * (100vw - 320px) / 1080);
  margin: auto calc(var(--modal-padding) / 3) -0.2em;
  text-align: center;
  font-family: var(--font-primary);
  text-transform: uppercase;
}
