@import "styles/mixins";

:root {
  /* Transition */
  --transition-link: 0.25s var(--cubic);
  --transition-scale: 0.1s;
  --transition-nav: 0.4s var(--cubic);

  /* Viewport */
  --real-height: calc(var(--dvh, 1vh) * 100);
  --real-width: calc(var(--vw, 1vw) * 100);
  --full-size: calc(var(--real-width, 100vw) + var(--real-height, 100vh));

  /* Sizes */
  --size-1: calc(4px + 1 * (100vw - 320px) / 1080);
  --size-2: calc(8px + 1 * (100vw - 320px) / 1080);
  --size-3: calc(16px + 1 * (100vw - 320px) / 1080);
  --size-4: calc(24px + 2 * (100vw - 320px) / 1080);
  --size-5: calc(32px + 3 * (100vw - 320px) / 1080);
  --size-6: calc(40px + 4 * (100vw - 320px) / 1080);
  --size-7: calc(48px + 5 * (100vw - 320px) / 1080);

  /* Wrapper */
  --wrapper-header: calc(700px + 500 * (100vw - 320px) / 1080);
  --wrapper-width: calc(600px + 350 * (100vw - 320px) / 1080);
  --wrapper-middle: calc(var(--wrapper-width) / 2.5);
  --wrapper-max: 85vw;

  /* Main */
  --main-padding: calc(32px + 24 * (100vw - 320px) / 1080);
  --main-top: calc(100px + 80 * (100vw - 320px) / 1080);

  /* Angle */
  --angle: 40deg;
  --angle-reverse: -40deg;
  --angle-radius: 3px;

  /* Shadow */
  --shadow-1: 0 0 0 1px var(--bg-opacity-3) inset;
  --shadow-2: 0 24px 40px rgba(0, 0, 0, 0.25);

  @include max($md) {
    --wrapper-max: 88vw;
  }
}
