@charset "UTF-8";

/* Import base */

@import "colors";
@import "easing";
@import "variables";
@import "reset";
@import "lenis";
@import "mixins";

/* General Styles */

html {
  background-color: var(--body);
  color: var(--text-primary);
  font-size: calc(15px + 1 * (100vw - 320px) / 1080);
  font-weight: 300;
  font-synthesis: none !important;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  @include no-scrollbar;
  @include selection(rgba(var(--primary-rgb), 0.5));
}

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  font-family: var(--font-tertiary);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  letter-spacing: -0.005em;
  margin: 0 auto;
  width: 100vw;

  @include min(600px) {
    &::before {
      content: "";
      position: fixed;
      inset: 0;
      height: 100vh;
      background: url("/img/noise.webp") repeat center center;
      background-size: 30%;
      pointer-events: none;
      z-index: 9999;
    }
  }
}

svg {
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Reveal */

[data-reveal] {
  --translate: var(--main-padding);
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
  transform: translate3d(var(--x, 0), var(--y, 0), 0);

  &[data-reveal="bottom"] {
    --y: var(--translate);
  }

  &[data-reveal="top"] {
    --y: calc(var(--translate) * -1);
  }

  &[data-reveal="right"] {
    --x: var(--translate);
  }

  &[data-reveal="left"] {
    --x: calc(var(--translate) * -1);
  }

  &[data-reveal="opacity"] {
    transform: none !important;
  }
}
